In [1]:
# Name :Sushrut Patil
# Roll No: 37
# Practical 2:to read and write data from CSV File, Excel File, JSON File into Python dataframe 
# and viceversa.

In [2]:
# Reading CSV File
import pandas as pd

# Read CSV into a DataFrame
df = pd.read_csv('Employee.csv')

# Display the DataFrame
print(df)

  EmpNo EmpName   Skills  GradCGPA  Gender
0  E101     Sam  Angular       9.8    Male
1  E102  Viraam    React       NaN    Male
2  E103  Kalsis       JS       NaN  Female
3  E104     Tom   Python       8.9    Male
4  E105   Louis      C++       9.4    Male
5  E106   Jassy     HTML       7.8    Male

In [3]:
# Writing Csv File
df.to_csv('output_file.csv', index=False)

In [5]:
# Reading Excel
import pandas as pd

# Read Excel into a DataFrame
df = pd.read_excel('Employee.xlsx') 

# Display the DataFrame
print(df)

  EmpNo EmpName   Skills  GradCGPA  Gender
0  E101     Sam  Angular       9.8    Male
1  E102  Viraam    React       NaN    Male
2  E103  Kalsis       JS       NaN  Female
3  E104     Tom   Python       8.9    Male
4  E105   Louis      C++       9.4    Male
5  E106   Jassy     HTML       7.8    Male

In [7]:
# Writing Excel
df.to_excel('output_file.xlsx', sheet_name='Sheet1', index=False)

In [15]:
# Reading json
import pandas as pd

# Read JSON into a DataFrame
df = pd.read_json('trial.json')

# Display the DataFrame
print(df)

          Author               Title         Publisher
0  Seema acharya  Data Visualization       Mcgraw Hill
1     Adam Grant         Think Again  Ebury Publishing

In [16]:
# writing in Json
df.to_json('output_file.json', orient='records')