In [1]:
# Name :Sushrut Patil
# Roll No: 37
# Practical 5:Program/Notebook related to any dataset using Pandas DataFrame methods: Count ( ) Method, describe ( ) 
# Method, drop_duplicated( ) Method, empty property, filter( ) Method, equals( ) Method

In [2]:
# Count() Function
import pandas as pd
df=pd.read_csv('Employee.csv')
print(df['GradCGPA'].count())

4

In [3]:
# Describe function
df.describe()

       GradCGPA
count  4.000000
mean   8.975000
std    0.865544
min    7.800000
25%    8.625000
50%    9.150000
75%    9.500000
max    9.800000

In [4]:
# drop_duplicates()
newdf=df['Gender'].drop_duplicates()
print(newdf)

0      Male
2    Female
Name: Gender, dtype: object

In [6]:
# Empty property
print(df.empty)

False

In [14]:
# filter() method
df=pd.read_excel('Employee.xlsx')
nef=df.filter(items=['Name','Gender''GradCGPA'])
print(nef)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5]

In [15]:
# equal method
newdf=df.copy()
print(df.equals(newdf))

True